## Limpeza de dados com Expressões Regulares


### CPF e Telefone

##### Imagine que em seu DataWarehouse, existe uma coluna com CPF de clientes e ela é seu identificador único, porém nela não existem pontos '.' e nem traços '-'. Você recebe, então, uma nova lista de clientes para que sejam inseridos em seu DW, mas com pontos e traços, e quem enviou não se preocupou em saber se o cliente dessa base já estava em uma base enviada por ele antes, e você não consegue cruzar para saber se esse cliente já está em sua base ou não e assim saber se vc precisa dar um update, ignorar ou apenas inserir a informação.

In [23]:
#Importaremos o pacote pandas para auxiliar no tratamento
import pandas as pd
import re as re

#Vamos criar uma lista de CPF, Nome e Cor fictícia para servir de exemplo.

cpfDw = ['09554586442','06764719422','15754789412','09754789412','09747789844','54754784912','09574879412','10756189413','11754489411','09254795413']
nomeDw = ['joao','maria','paulo','jose','anita','enzo','vitoria','valentina','helena','carla',]
corDw = ['amarelo','azul','vermelho','verde','roxo','branco','preto','cinza','laranja','marrom',]

#Criamos um DataFrame para simular uma tabela em um DW
dfDw = pd.DataFrame({"CPF":cpfDw,"NOME":nomeDw,"COR":corDw}); dfDw

           CPF       NOME       COR
0  09554586442       joao   amarelo
1  06764719422      maria      azul
2  15754789412      paulo  vermelho
3  09754789412       jose     verde
4  09747789844      anita      roxo
5  54754784912       enzo    branco
6  09574879412    vitoria     preto
7  10756189413  valentina     cinza
8  11754489411     helena   laranja
9  09254795413      carla    marrom

In [18]:
#Vamos criar agora listas fictícias que será a nova lista de clientes recebida para inserir,ignorar ou atualizar no DataWarehouse.

cpfNew = ['048.754.745-01','547.725.147-14','777.547.366/-/00','097.547.894-12','087.487.395-00','412.574.576-00','754.125.741-10','417.147.741-01','125.555.741-01','952.157.879-03']
nomeNew = ['marcos','miriam','marcelo','jose','jefferson','jeremias','jessica','jislene','helena','carla',]
corNew = ['amarelo','azul','vermelho','verde','roxo','branco','preto','cinza','laranja','marrom',]

#Inserindo em um DataFrame
dfNew = pd.DataFrame({"CPF":cpfNew,"NOME":nomeNew,"COR":corNew}); dfNew

                CPF       NOME       COR
0    048.754.745-01     marcos   amarelo
1    547.725.147-14     miriam      azul
2  777.547.366/-/00    marcelo  vermelho
3    097.547.894-12       jose     verde
4    087.487.395-00  jefferson      roxo
5    412.574.576-00   jeremias    branco
6    754.125.741-10    jessica     preto
7    417.147.741-01    jislene     cinza
8    125.555.741-01     helena   laranja
9    952.157.879-03      carla    marrom

In [19]:
#Tentamos cruzar para saber se em nosso DW existe algum CPF recebido no novo DataFrame. Como era esperado, não conseguimos achar nenhuma correspondência.
dfFinal = pd.merge(dfDw,dfNew,on = 'CPF', how='inner'); dfFinal

Empty DataFrame
Columns: [CPF, NOME_x, COR_x, NOME_y, COR_y]
Index: []

### Desafio!

#### Remova a pontuação e o traço do CPF

In [20]:
#Escreva seu código aqui

dfNew.CPF
#nofeaturedf = dfNew.CPF.str.replace(".","").str.replace("-","").str.replace("/","")
nofeaturedf = dfNew.CPF.str.replace('\W+','',regex=True)
print(nofeaturedf)

0    04875474501
1    54772514714
2    77754736600
3    09754789412
4    08748739500
5    41257457600
6    75412574110
7    41714774101
8    12555574101
9    95215787903
Name: CPF, dtype: object

#### Faça um merge entra o dfNew e o dfDw e saiba quantos clientes já existiam na base

In [21]:
#Escreva seu código aqui

dfFinal = pd.merge(dfDw,nofeaturedf,on = 'CPF', how='inner'); dfFinal

           CPF  NOME    COR
0  09754789412  jose  verde

In [26]:
a = "teste(%100)"
b = re.sub(r'[()]', '', a)
print (a)

teste(%100)